body{
  text-align: center;
  background-image: linear-gradient(to right, blueviolet, rgb(238, 104, 124), skyblue);

}

.cls{
  width: 300px;
  height: 250px;
  border-radius: 20px;
  border: 5px solid  black;
  background-color: peachpuff;
}

.done{
  color: red;
}

.background{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 53px;
}

.func{
  width: 300px;
  height: 250px;
  border-radius: 20px;
  border: 5px solid  black;
  background-color: palevioletred;
}

.okay{
  color: blueviolet;
}

.btn1{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid  black;
  background-color: pink;
 
  font-size: 15px;
  font-weight: bold;
}

.btn2{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid  black;
  background-color: lightseagreen;
  
  font-size: 15px;
  font-weight: bold;
}

.main{
  margin-top: 30px;
   display: flex;
   justify-content: space-around;
}

.style{
  text-shadow: 2px 2px #ff0000;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}